html, body {
    height: 100%;
    margin: 0;
}

#split {
    display: flex;
    height: 100%;
}

#left, #m1 {
    margin: 5px;
    flex: 0 0 50%;
    height: 100%;
}

#right, #m2 {
    margin: 5px;
    flex: 1;
    height: 100%;
}

#viewer2 {
    height: calc(100vh - 10px);
    width: calc(100vw - 10px);
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages {
    resize: both;
    text-align: center;
}
